@import 'global';
$bunzl-green: #99B53E !default;
$bunzl-blue: #003A69 !default;

/**
 * Includes a base64-encoded icon for use within list items.
 *
 *     @include list-iconmask('attachment');
 *
 * @param {string} $name The name of the icon to be included. This is to match the name of the icon file (located at resources/themes/images/default/pictos) without its extention (.png).
 */
@mixin list-iconmask($name) {
        .listIcn.#{$name} {
                -webkit-mask-image: theme_image($theme-name, "pictos/" + $name + ".png");
                width: 1.3em;
                display: block;
                background-color: rgba(0,0,0,0.66);
                height: 1.3em;
                -webkit-mask-size: 1.3em;
                margin-right: 0.5em;
                vertical-align: -15%;
                float: left;
                margin-top: -0.1em;
                margin-left: -0.3em
        }

        .x-item-selected .listIcn.#{$name} {
                background-color: #FFFFFF;
        }
}

@include list-iconmask('home');
@include list-iconmask('user_list2');
@include list-iconmask('chart1');
@include list-iconmask('bookmarks');
@include list-iconmask('shop1');
@include list-iconmask('locate2');
@include list-iconmask('cube');
@include list-iconmask('sync');
@include list-iconmask('settings8');
@include list-iconmask('action');

@include sencha-toolbar-ui('bunzl', darken(#CCCCCC, 20),'matte', #FFFFFF);
@include sencha-toolbar-ui('bunzl-light', lighten(#CCCCCC, 10),'matte', #FFFFFF);
@include sencha-toolbar-ui('bunzl-blue', lighten($bunzl-blue, 5),'matte', #FFFFFF);
@include sencha-toolbar-ui('bunzl-green', lighten($bunzl-green, 5),'matte', #FFFFFF);

@include sencha-button-ui('bunzl-blue', lighten($bunzl-blue, 10));
@include sencha-button-ui('bunzl-green', $bunzl-green);

.x-button-bunzl-green .x-button-label {
    color: #FFFFFF !important;
}


@include sencha-list-ui('bunzl-list', #333333, lighten($bunzl-green, 5), #FFFFFF, #CCCCCC, lighten($bunzl-green, 30));
.bunzl-list {
    &.x-list {
      .x-list-item {
        &.x-item-selected {
          .x-list-header {
		border-bottom: none;
          }
          .x-list-item-label {
		-webkit-box-shadow: inset 0 0 5px darken($bunzl-green, 45%);
          }
        }
      }
    }
}

@include sencha-list-ui('bunzl-list-blue', #333333, lighten($bunzl-blue, 10), #FFFFFF, #CCCCCC, lighten($bunzl-blue, 30));
.bunzl-list-blue {
    &.x-list {
      .x-list-item {
        &.x-item-pressed {
          .x-list-item-label {
            color: #FFFFFF;
          }
        }
      }
    }
}

.icnSync {
        background-image: url("../images/ajax-loader.gif") !important;
        background-color: transparent !important;
}

.textured {
        background: url("../images/texture.png")
}

.sbShadow {
        -moz-box-shadow: inset -4px -4px 6px -4px black;
	-webkit-box-shadow: inset -4px -4px 6px -4px black;
	box-shadow: inset -4px -4px 6px -4px black;
}

#main-sidebar {
        -webkit-transform:translate3d(0,0,0);
        -webkit-backface-visibility: hidden;
        border-right: 1px solid rgba(0, 0, 0, .4);
        -webkit-box-shadow: inset 2px 0 2px -2px #B2B9C9;

        &.transition {
                -webkit-transition: width 100ms;
                // -webkit-transition: width 100ms cubic-bezier(0.305, 0.820, 0.925, 0.165);
                // -webkit-transform: translate3d(250px,0,0)

        }

        .x-list-item {
                min-width: 250px;
        }
}

// .prodDetailPopup {
// 	background: white;
// 	padding: 1em;
// 	@include border-radius(0.4em);
// }

.shadowed {
        // border-left: 1px solid #666;
        // box-shadow: 0px 0 4px 4px #888;
}

.lastCall {
        float: right;
        font-size: 0.6em;
        line-height: 2.1em;
}

.x-msgbox.x-msgbox-bunzl-alert {
        border: 0.15em solid $bunzl-green;
        background-color: rgba(0, 0, 0, 0.8);

        .x-toolbar-dark .x-title, .x-msgbox-text {
                color: #FFFFFF;
        }
}
#settingsBox {
        .x-form-fieldset-title {
                margin: 0.7em 0.3em;
        }
        .x-form-label {
                line-height: 2em;
        }
        .x-toggle-on {
	@include background-gradient($bunzl-green, 'recessed');
	}

	&.x-form-fieldset .x-form-fieldset-inner {
		@include border-radius(0);
	}
}

.touchgridpanel {
        .x-input-el {
                padding: 0 0.4em;
                min-height: 2em;
        }
        .x-field {
                min-height: 2em;
        }
}

.toolbar-text {
  position: static;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 12px;
}

.noBorder.x-toolbar.x-docked-bottom {
        border: none;
        margin-top: -0.4em;
        @include border-radius(0 0 0.4em 0.4em);
}

$rgba1: rgb(81,87,74);    
$rgba2: rgb(68,124,105);
$rgba3: rgb(116,196,147);
$rgba4: rgb(142,140,109);    
$rgba5: rgb(228,191,128);      
$rgba6: rgba(233,215,142,0.5);    
$rgba7: rgba(226,151,93,0.5);    
$rgba8: rgba(241,150,112,0.5);   
$rgba9: rgba(225,101,82,0.5);    
$rgba10: rgba(201,74,83,0.5);    
$rgba11: rgba(190,81,104,0.5);    
$rgba12: rgba(163,73,116,0.5);    
$rgba13: rgba(153,55,103,0.5);    
$rgba14: rgba(101,56,125,0.2);    
$rgba15: rgba(78,36,114,0.2);    
$rgba16: rgba(145,99,182,0.2);    
$rgba17: rgba(226,121,163,0.2);   
$rgba18: rgba(224,89,139,0.2);    
$rgba19: rgba(124,159,176,0.2);   
$rgba20: rgba(86,152,196,0.2);    
$rgba21: rgba(154,191,136,0.2);

$colors: $rgba1, $rgba2, $rgba3, $rgba4, $rgba5 ,$rgba6 , $rgba7, $rgba8, $rgba9, $rgba10, $rgba11, $rgba12, $rgba13, $rgba14, $rgba15, $rgba16, $rgba17, $rgba18, $rgba19, $rgba20, $rgba21;

@for $i from 1 through 21 {
    .catColor .x-list-item:nth-child(#{$i}) .x-list-item-label
  { 
    background: -webkit-linear-gradient(left, rgba(nth($colors, $i), 1)  0%, rgba(nth($colors, $i), 1) 2.5em, rgba(255,255,255, 1) 2.5em, rgba(255,255,255, 1) 100%) !important;
    text-indent: 2em;
  }
}

.logo{
  padding: 10px;
  margin-left: 3.5em;
}

.ordHistTotal {
  .x-button {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;
    margin-top: -0.35em;
    font-size: 0.7em;
  }
}

.x-badge-list {
-webkit-background-clip: padding;
background-clip: padding-box;
-webkit-border-radius: 0.2em;
border-radius: 0.2em;
padding: .1em .3em;
z-index: 2;
text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0.1em 0.1em;
box-shadow: rgba(0, 0, 0, 0.5) 0 0.1em 0.1em;
overflow: hidden;
color: #FCC;
border: 1px solid #900;
position: absolute;
width: auto;
min-width: 1em;
line-height: 1.2em;
font-size: 18px;
right: 5px;
top: 36px;
max-width: 95%;
background-image: none;
background-color: #C00;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FF1A1A), color-stop(3%, #E60000), color-stop(100%, #B30000));
background-image: -webkit-linear-gradient(top, #FF1A1A, #E60000 3%, #B30000);
background-image: linear-gradient(top, #FF1A1A,#E60000 3%,#B30000);
display: inline-block;
}


.selectCat{
  .x-toolbar .x-form-field .x-field-select{
    background-color: black !important;
    color: black !important; 
  }
}

#selectCategory .x-toolbar .x-form-field .x-field-select{
    background-color: red!important;
    color: #000 !important;  
}

.x-list-emptytext {
  
    height: 100%;
    
    .x-innerhtml {
        height: 100%;
        @include display-box;
        @include box-orient(vertical);
        @include box-pack(center);
    }
}
.x-no-items {
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin-top:20%;
    
    .x-no-items-icon {
        margin: 0 auto;
    }
    
    .x-no-items-title {
        color: #666;
        font-weight: bold;
        font-size: 1em;
    }
    
    .x-no-items-message {
        color: #777;
        margin-top: 0.5em;
        font-size: 0.8em;
    }
}

#loginPanel {
    background-color: #111145 !important;
}

#loginPanel img{
    width:250px;
}

#loginButton {
    margin: 0 0 1.5em;
}

#errMessage {
    color: white;
    margin: 0 0 1.5em;
}

 /* start basic spinner styles*/
    
    div.spinner {
      position: relative;
      width: 20px;
      height: 20px;
      display: inline-block;
    }
    
    div.spinner div {
      width: 12%;
      height: 26%;
      background: #fff;
      position: absolute;
      left: 44.5%;
      top: 37%;
      opacity: 0;
      -webkit-animation: fade 1s linear infinite;
      -webkit-border-radius: 50px;
      -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    }
    
    div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
    div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
    div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
    div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
    div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
    div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
    div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
    div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
    div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
    div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
    div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
    div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

     @-webkit-keyframes fade {
      from {opacity: 1;}
      to {opacity: 0.25;}
    }
    
    /* end basic spinner styles*/


    .meter {
            height: 33px;  /* Can be anything */
            position: relative;
            background: #555;
            -moz-border-radius: 25px;
            -webkit-border-radius: 25px;
            border-radius: 25px;
            padding: 5px;
            -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
            -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
            box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
        }
        .meter > span {
            display: block;
            height: 100%;
               -webkit-border-top-right-radius: 20px;
            -webkit-border-bottom-right-radius: 20px;
                   -moz-border-radius-topright: 20px;
                -moz-border-radius-bottomright: 20px;
                       border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                -webkit-border-top-left-radius: 20px;
             -webkit-border-bottom-left-radius: 20px;
                    -moz-border-radius-topleft: 20px;
                 -moz-border-radius-bottomleft: 20px;
                        border-top-left-radius: 20px;
                     border-bottom-left-radius: 20px;
            background-color: #A6C14B;
            -webkit-box-shadow:
              inset 0 2px 9px  rgba(255,255,255,0.3),
              inset 0 -2px 6px rgba(0,0,0,0.4);
            -moz-box-shadow:
              inset 0 2px 9px  rgba(255,255,255,0.3),
              inset 0 -2px 6px rgba(0,0,0,0.4);
            box-shadow:
              inset 0 2px 9px  rgba(255,255,255,0.3),
              inset 0 -2px 6px rgba(0,0,0,0.4);
            position: relative;
            overflow: hidden;
        }
        .meter > span:after, .animate > span > span {
            content: "";
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            background-image:
               -webkit-gradient(linear, 0 0, 100% 100%,
                  color-stop(.25, rgba(255, 255, 255, .2)),
                  color-stop(.25, transparent), color-stop(.5, transparent),
                  color-stop(.5, rgba(255, 255, 255, .2)),
                  color-stop(.75, rgba(255, 255, 255, .2)),
                  color-stop(.75, transparent), to(transparent)
               );
            background-image:
                -moz-linear-gradient(
                  -45deg,
                  rgba(255, 255, 255, .2) 25%,
                  transparent 25%,
                  transparent 50%,
                  rgba(255, 255, 255, .2) 50%,
                  rgba(255, 255, 255, .2) 75%,
                  transparent 75%,
                  transparent
               );
            z-index: 1;
            -webkit-background-size: 50px 50px;
            -moz-background-size: 50px 50px;
            -webkit-animation: move 2s linear infinite;
               -webkit-border-top-right-radius: 20px;
            -webkit-border-bottom-right-radius: 20px;
                   -moz-border-radius-topright: 20px;
                -moz-border-radius-bottomright: 20px;
                       border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                -webkit-border-top-left-radius: 20px;
             -webkit-border-bottom-left-radius: 20px;
                    -moz-border-radius-topleft: 20px;
                 -moz-border-radius-bottomleft: 20px;
                        border-top-left-radius: 20px;
                     border-bottom-left-radius: 20px;
            overflow: hidden;
        }

        .animate > span:after {
            display: none;
        }

        @-webkit-keyframes move {
            0% {
               background-position: 0 0;
            }
            100% {
               background-position: 50px 50px;
            }
        }

        .red > span {
          background-color: #f0a3a3;
          background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
          background-image: -webkit-linear-gradient(top, #f0a3a3, #f42323);
          background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
          background-image: -ms-linear-gradient(top, #f0a3a3, #f42323);
          background-image: -o-linear-gradient(top, #f0a3a3, #f42323);
        }

         /**
         * Example of an initial loading indicator.
         * It is recommended to keep this as minimal as possible to provide instant feedback
         * while other resources are still being loaded for the first time
         */
        html, body {
            height: 100%;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
            -webkit-font-smoothing: antialiased;
        }
        

        #appLoadingIndicator {
            position: absolute;
            top: 50%;
            margin-top: -15px;
            text-align: center;
            width: 100%;
            height: 30px;
            -webkit-animation-name: appLoadingIndicator;
            -webkit-animation-duration: 0.5s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-direction: linear;
        }

        #appLoadingIndicator > * {
            background-color: #FFFFFF;
            display: inline-block;
            height: 30px;
            -webkit-border-radius: 15px;
            margin: 0 5px;
            width: 30px;
            opacity: 0.8;
        }

        @-webkit-keyframes appLoadingIndicator{
            0% {
                opacity: 0.8
            }
            50% {
                opacity: 0
            }
            100% {
                opacity: 0.8
            }
        }

        .progressHeaders {
            color: #777;
            font-size: 1.0em;
            padding-left: 2%;
            line-height: 3.9em;
            margin-bottom: -24px;
        }

        .progressHeadersMain {
          color: #777;
          font-size: 1.2em;
          font-weight: bold;
          padding-left: 2%;
          line-height: 2.9em;
        }

        .progress_all {
          padding-left: 2%;
        }

        #logoutBtn {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
